shared-workspace-lockfile=true
store-dir=~/.pnpm-store

fetch-retries=3
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=60000

strict-peer-dependencies=false

prefer-offline=true

public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*@heroui/*